body{
    background: #f0f2f5;
    min-width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
   height:100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
}
.main{

    width: 100%;
    height: 500px;


  
}
.col{
    display: flex;
    justify-content: center;

}
.testCard {
    background: white;
    min-height: 450px;
    height: 100%;
    width: 80%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
 .question {
    font-size: 1.5em;
    color: black;
    font-family: sans-serif;
    text-align: left;
    margin-left: 55px;
  
}

.answer{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    min-height: 50px;
    /* display: flex; */
    align-items: center;
    width: 90%;
    word-wrap: break-word;
}
@media screen and (max-width: 768px) {
    .answer {
      white-space: normal;
    }
  }


.theme-btn{
    background: #8ec73d;
    padding: 5px 10px 5px 10px;
    border: none;
    color: white;
    width: 150px;
    border-radius: 5px;
    height: 30px;
    margin-top: 10px;
    margin-left: 30px;
  
  }
  .theme-btn:hover{
    background: #79aa35;
  }

  label{
    display: block;
}

.answer{
    font-size: 1.5em;
    word-wrap: break-word;
}

.questionNumber{
    position: relative;
    top: 59px;
    left: 5px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
}

.headerimg{
    width: 280px;
    height: 130px;
    margin: 0 auto;
}
.headerimg img{
    width: 100%;
    height: 100%;
}

/* note : fix header images */